
version: 2.1
jobs:
  "checkout code":
    docker:
      - image: circleci/node:13.5.0
    working_directory: ~/dumbbell-api
    steps:
      - checkout
      - save_cache:
          key: code-cache-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/dumbbell-api

  "set up":
    docker:
      - image: circleci/node:13.5.0
    working_directory: ~/dumbbell-api
    steps:
      - restore_cache:
          key: code-cache-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ~/dumbbell-api/node_modules
      - run:
          name: Build
          command: npm run build

  "unit test":
    docker:
      - image: circleci/node:13.5.0
    working_directory: ~/dumbbell-api
    steps:
      - restore_cache:
          key: code-cache-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run unit test
          command: npm run test:unit

  "e2e test":
    docker:
      - image: circleci/node:13.5.0
      - image: postgres
        environment:
          POSTGRES_USER: circleci
          POSTGRES_PASSWORD: Passw0rd
          POSTGRES_DB: circleci
    working_directory: ~/dumbbell-api
    steps:
      - restore_cache:
          key: code-cache-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run 2e2 test
          command: npm run test:e2e:ci
  
workflows:
  version: 2
  workflow:
    jobs:
      - "checkout code"
      - "set up":
          requires:
            - "checkout code"
      - "unit test":
          requires:
            - "set up"
      - "e2e test":
          requires:
            - "set up"