
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:13.5.0
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: build project
          command: npm run build
  unit:
    docker:
      - image: circleci/node:13.5.0
    steps:
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: run unit test
          command: npm run test:unit

workflows:
  version: 2
  build:
    jobs:
      - build
      - unit_1:
        requires:
          - build